{% extends 'base.html' %}
{% block title %} Wishlist {% endblock title %}
{% block body %}
<div class="container py-5">
  <h2 class="text-center mb-4">My Wishlist</h2>
  <div class="row">
    {% for item in items %}
    <article class="col-sm-6 col-md-3 mb-3">
      <img class="img-thumbnail mb-3" src="{{ item.car_image.url }}" alt="{{ item.car_name }}" width="480" height="300"/>
      <h3 class="h5 mb-1">{{ item.car_name }}</h3>
      <p style="color: green; font-weight: bold;">{{ item.price }} INR</p>

      <a class="btn btn-danger btn-sm" href="{% url 'remove_from_wishlist' item.id %}">Remove</a>
      <a class="btn btn-success btn-sm" href="{% url 'move_to_cart' item.id %}">Move to Cart</a>
    </article>
    {% empty %}
    <p class="text-center">Your wishlist is empty.</p>
    {% endfor %}
  </div>
</div>
{% endblock body %}
